-@ val inventory: Map[String, Int]
-@ val sales: Seq[(Int,String,String,Int,Double)]

- attributes("title") = "Carrden Inventory Admin"
:javascript
    $(function() {
        $('#create-db').on('click', function (event) {
            $.ajax({
                type: 'post',
                url: '/admin/db/create-tables/',
                data: "{}",
                success: function (data, status) {
                    $('#admin-status-head').text(""+ status)
                    $('#admin-status-text').text("Created tables")
                    $('#admin-status').addClass('alert alert-success alert-block fade in')
                    $("#current-inventory").load(location.href + " #current-inventory");
                    $("#ledger").load(location.href + " #ledger");
                },
                error: function (result) {
                    $('#admin-status-head').text(""+result);
                    $('#admin-status-text').text(result.code.toString)
                    $('#admin-status').addClass('alert-failure in')
                }
            })
            event.preventDefault()
        }),
        $('#load-test').on('click', function (event) {
            $.ajax({
                type: 'post',
                url: '/admin/db/load-test-data/',
                data: "{}",
                success: function (data, status) {
                    $('#admin-status-head').text("" + status)
                    $('#admin-status-text').text("Successfully loaded dest data")
                    $('#admin-status').addClass('alert-success in')
                    $("#current-inventory").load(location.href + " #current-inventory");
                    $("#ledger").load(location.href + " #ledger");
                },
                error: function (result) {
                    $('#admin-status-head').text(esult.code);
                    $('#admin-status-text').text(result.code.toString)
                    $('#admin-status').addClass('alert-failure in')
                }
            })
        }),
        $('#destroy-everything').on('click', function (event) {
            $.ajax({
                type: 'post',
                url: '/admin/db/drop-tables/',
                data: "{}",
                success: function (data, status) {
                    $('#admin-status-head').text(""+status)
                    $('#admin-status-text').text("Destroyed everything!")
                    $('#admin-status').addClass('alert-success in')
                    $("#current-inventory").load(location.href + " #current-inventory");
                    $("#ledger").load(location.href + " #ledger");
                },
                error: function (result) {
                    $('#admin-status-head').text(""+result);
                    $('#admin-status-text').text(result.code.toString)
                    $('#admin-status').addClass('alert-failure in')
                }
            })
        }),
        $('.alert-close').on('click', function () {
            $('#admin-status').removeClass('alert-failure alert-success in');
        })
    });

div.jumbotron.masthead
    div.container
        h1 Carrden Inventory Administration
        p The following administration functions are for test purposes only:
        div.btn-group
            button(
                id='create-db'
                class='btn btn-default'
                role='button'
                url='/admin/db/create-tables/')
                span.glyphicon.glyphicon-file
                span Initialize tables
            button(
                id='load-test'
                class='btn btn-default'
                role='button'
                url='/admin/db/load-test-data/')
                span.glyphicon.glyphicon-save-file
                span Load test data
            button(
                id='destroy-everything'
                class='btn btn-danger'
                role='button'
                url='/admin/db/drop-tables/')
                span.glyphicon.glyphicon-trash
                span Drop tables
        div.btn-group
            button(
            data-toggle='modal'
            data-target='#add-item'
            class='btn btn-primary')
                span(class='glyphicon glyphicon-add')
                span Add Produce

div.container
    div(id='admin-status' class='alert alert-block alert-dismissable fade')
        button(type='button' class='close alert-close') &times;
        strong(id='admin-status-head')
        span(id='admin-status-text')

    div.col-md-6
        div(class='panel panel-default' id='ledger')
            div.panel-heading
                strong Sale Ledger
            table.table.table-hover
                th #
                th Date
                th Item
                th Count
                th Revenue
                - for( sale <- sales )
                    tr
                        td=sale._2
                        td=sale._1
                        td=sale._3
                        td=sale._4
                        td="$" + sale._5

    div.col-md-3
        div(class='panel panel-default' id='current-inventory')
            div.panel-heading
                strong Current inventory
            ul.list-group
                - for( (item, count) <- inventory)
                    li.list-group-item
                        span.badge=count
                        =item
    div(
    class='modal'
    id='add-item'
    role='dialog'
    tabindex='-1'
    aria-labelledby='Add Produce'
    aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(
                    type='button'
                    class='close'
                    data-dismiss='modal') &times;
                    h2 Sale
                    div(id='sale-status' class='alert alert-block fade' )
                        button(type='button' class='close sale-close') &times;
                        span(id='sale-status-text')
                div.modal-body
                    form(
                    id='add-produce-form'
                    class='form-horizontal well'
                    data-async data-target='#add-item'
                    action='/sale/'
                    method='post')
                        fieldset(form='sale-form')
                            ul
                                li(style='list-style-type: none;padding: 10px;')
                                    div.input-group
                                        span.input-group-addon Name
                                        input(type='text' class='form-control')
                                li(style='list-style-type: none;padding: 10px;')
                                    div.input-group
                                        span.input-group-addon Price
                                        input(type='text' class='form-control')
                    div(
                    class='btn-group'
                    role='group')
                        button(
                        id='cancel-add'
                        type='button'
                        class='btn btn-danger'
                        data-dismiss='modal')
                            span(class='glyphicon glyphicon-remove')
                            span Cancel
                        button(
                        type='submit'
                        form="add-item"
                        class='btn btn-success')
                            span(class='glyphicon glyphicon-ok')
                            span Submit
