-@ val inventory: Map[String, Int]
-@ val sales: Seq[(Int,String,String,Int,Double)]

- attributes("title") = "Carrden Inventory Admin"
div.jumbotron.masthead
    div.container
        h1 Carrden Inventory Administration
        p Push some of these buttons to do stuff
        div.btn-group
            a(
                class='btn btn-default'
                role='button'
                href='/admin/db/create-tables/')
                span.glyphicon.glyphicon-file
                span Initialize tables
            a(
                class='btn btn-default'
                role='button'
                href='/admin/db/load-test-data/')
                span.glyphicon.glyphicon-save-file
                span Load test data
            a(
                class='btn btn-danger'
                role='button'
                href='/admin/db/drop-tables/')
                span.glyphicon.glyphicon-trash
                span DESTROY EVERYTHING
div.container
    div(class="panel panel-default")
        div.panel-heading Current inventory
        ul.list-group
            - for( (item, count) <- inventory)
                li.list-group-item
                    span.badge=count
                    =item
        div.panel-heading Test Sale Ledger
        table.table.table-hover
            th Sale Number
            th Date
            th Item
            th Count
            th Revenue
            - for( sale <- sales )
                tr
                    td=sale._2
                    td=sale._1
                    td=sale._3
                    td=sale._4
                    td="$" + sale._5