-@ val inventory: Map[String, Int]

- attributes("title") = "Carrden Inventory"
:javascript
    $(function() {
        $('form[data-async]').on('submit', function (event) {
            event.preventDefault();
            var $form = $(this);
            var $target = $($form.attr('data-target'));
            $.ajax({
                type: $form.attr('method'),
                url:  $form.attr('action'),
                data: $form.serialize(),
                success: function (data, status) {
                    if (data.hasOwnProperty('price')) {
                        $('#sale-status-text').text("$" + data.price.toFixed(2));
                        $('#sale-status').addClass('alert-success in');
                    } else if (data.hasOwnProperty('what')) {
                        $('#sale-status-text').html(
                                "<strong>Out of stock:</strong> not enough " +
                                data.what.toString().toLowerCase() + "s");
                        $('#sale-status').addClass('alert-warning in');
                    } else {
                        console.log("[DEBUG] got weird thing: " + data)
                        $('#sale-status-text').text("[DEBUG] got weird thing: " + data);
                        $('#sale-status').addClass('alert-warning in');
                    }
                },
                error: function (result) {
                    $('#sale-status-text').text("Error" + result.code);
                    $('#sale-status').addClass('alert-failure in')
                }
            });
            $('#sale-form')[0].reset()
        }),
        $('#sale').on('show.bs.modal', function (e) {
            $.ajax({
                type: 'get',
                url: '/inventory',
                data: '{}',
                success: function (data, status) {
                    g_inventory = {}
                    for (var i in data) {
                        console.log(data[i])
                        g_inventory[data[i]['name'].replace(' ', '_')] = {
                            amount: data[i]['amount'],
                            price: data[i]['price']
                        };
                    }
                    console.log(g_inventory)
                    },
                error: function (result) {
                    $('#sale-status-text').text("Error" + result.code);
                    $('#sale-status').addClass('alert-failure in')
                }
            });
        }),
        $(".live-price-source").on('keyup', function () {
            var name = $(this).attr('name');
            var amountPurchased = $(this).val();
            var result;
            if (g_inventory[name]['amount'] < amountPurchased) {
                result = "Only " + g_inventory[name]['amount'] + " in stock!"
            } else {
                result = "$" + (g_inventory[name]['price'] * amountPurchased).toFixed(2);
            }

            //console.log('cost was  '+ totalcost)
            $('#' + name + '-price').html(result);
        }),
        $('.sale-close').click(function () {
            $('#sale-status').removeClass('in alert-warning alert-success alert-failure');
            $('#sale-form')[0].reset();
            $('.live-price').html('$0.00');
            window.location.reload(true); // TODO: get table contents dynamically instead
        }),
        $('.close').click(function () {
            $(this).parent.removeClass('in')
        });
    });

div.jumbotron.masthead
    div.container
        h1 Carrden Inventory
        p Click <i>Enter Sale</i> to begin a sale.
        button(
        data-toggle='modal'
        data-target='#sale'
        class='btn btn-primary btn-lg')
            span(class='glyphicon glyphicon-edit')
            span Enter Sale

div.container

    div(
        class='modal'
        id='sale'
        role='dialog'
        tabindex='-1'
        aria-labelledby='Sale'
        aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(
                        type='button'
                        class='close sale-close'
                        data-dismiss='modal') &times;
                    h2 Sale
                    div(id='sale-status' class='alert alert-block fade' )
                        button(type='button' class='close sale-close') &times;
                        span(id='sale-status-text')
                div.modal-body
                    form(
                    id='sale-form'
                    class='form-horizontal well'
                    data-async data-target='#sale-form'
                    action='/sale/'
                    method='post')
                        fieldset(form='sale-form')
                            ul
                                - for ( (kind, _) <- inventory)
                                    - var kind_sanitized = kind.replace(' ', '_')
                                    li(style='list-style-type: none;padding: 10px;')
                                        div.input-group
                                            span.input-group-addon
                                                =kind
                                            input(
                                                name=kind_sanitized
                                                id=kind
                                                type='text'
                                                class='form-control live-price-source'
                                                placeholder='amount')
                                            span(class='input-group-addon live-price' id='#{kind_sanitized}-price') $0.00


                div.modal-footer
                    div(
                    class='btn-group'
                    role='group')
                        button(
                        id='cancel-sale'
                        type='button'
                        class='btn btn-danger sale-close'
                        data-dismiss='modal')
                            span(class='glyphicon glyphicon-remove')
                            span Cancel Sale
                        button(
                        type='submit'
                        form="sale-form"
                        class='btn btn-success')
                            span(class='glyphicon glyphicon-ok')
                            span Submit
    div.col-md-3
        div(class="panel panel-default")
            div.panel-heading
                strong Current inventory
            ul.list-group
                - for( (item, count) <- inventory)
                    li.list-group-item
                        span.badge=count
                        =item


